*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
}

.container{
  min-height: 100vh;
}

/* mensagens / mensagem / login / sucesso / erro */
.mensagem{
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.mensagem .deslogar{
  background-color: rgb(155, 155, 155);
  margin: 10px 200px;
}

.mensagem .sucesso{
  background-color: rgb(39, 131, 21);
  margin: 10px 200px;
}

.mensagem .erro{
  background-color: rgb(175, 21, 21);
  margin: 10px 200px;
}

/* tela de login / login / entra */
.titulo-login{
  text-align: center;
  font-style: italic;
}

.formulario-Login{
  padding: 10px;
  text-align: center;
  border-radius: 15px 0 15px 0;
  border: 1px solid rgba(0, 0, 0, 0.692);
  margin: 0 200px 0 ;
}

.formulario-Login input{
  width: 50%;
  margin-left: 25%;
  border: 1px solid rgb(6, 179, 202);
  transition: 0.5s;
}

.formulario-Login input:hover{
  border: 2px solid rgb(0, 0, 0);
}

/* DASHBOARD / RELATÓRIOS / INICIAL */

.relatorio{
  margin-top: 50px;
}

.card{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 13px 10px -2px #000000;
}

.icone{
  width: 40%;
}

.card p {
  font-size: 20px;
  font-weight: bold;
  color: rgb(6, 179, 202);
  text-align: center;
  margin-top: 20px;
}

.card h4{
  font-weight: bold;
  padding: 5px;
  margin-top: 20px;
  font-size: 20px;
}


/* seguros / central de seguros / criar seguro */

.form-seguro{
  padding: 20px;
}

.form-seguro input{
  border: 1px solid black;
  margin-top: 15px;
  width: 70%;
  box-shadow: 0px 10px 3px 1px black;
}

.form-seguro label{
  margin-top: 10px;
  padding: 10px;
  width: 200px;
}

/* clientes / central de clientes / criar clientes */

.endereco{
  margin-top: 15px;
}

.endereco input{
  background-color: rgba(23, 190, 196, 0.315);
}

.cor-select option{
  background-color: rgb(99, 99, 99);
}

.listaClientes{
  text-align: center;
}

.listaClientes th{
  font-size: 15px;
  font-weight: bold;
}

.listaClientes td{
  font-size: 13px;
  padding-top: 10px;
}


/* FOOTER */

footer{
  background-color: black;
  padding: 30px;
  margin-top: 5rem;
}
footer p{
  text-align: center;
  color: rgb(2, 70, 87);
  bottom: 0;
  font-weight: bold;
}
